@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Syne Variable', system-ui, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color: #021d40;
  background-color: #d9e2e8;

  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  max-width: 1280px;
}
